<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>vue-gamedemo</title>
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <script src="./js/vue.js"></script>
</head>
<style>
  #app {
    margin-top: 100px;
  }

  .wrapper {
    margin: 20px;
    border: solid gray 1px;
    box-shadow: 1px 1px 1px;
    width: 600px;
    /* height: 100px;
    line-height: 100px; */
    margin: 0 auto;
    padding: 30px 10px;
  }
  .playerlog{
    background-color: orange;
    line-height: 20px;
  }
  .monsterlog{
    background-color: aquamarine;
    line-height: 20px;
  }
</style>

<body>
  <div id="app">
    <section>
      <div class="container text-center">
        <div class="row">
          <div class="col-md-3 col-md-offset-3">
            <p class="text-center">
              <strong>YOU</strong>
            </p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" :style="{width : myLive + '%'}">
                {{myLive}}
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <p class="text-center">
              <strong>MONSTER</strong>
            </p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" :style="{width : monsterLive + '%'}">
                {{monsterLive}}
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </section>
    <section class="text-center wrapper">
      <div v-if="show">
        <button type="button" class="btn btn-danger" @click="attack">attack</button>
        <button type="button" class="btn btn-warning" @click="specailAttack">special attack</button>
        <button type="button" class="btn btn-info" @click="heal">heal</button>
        <button type="button" class="btn btn-primary" @click="giveUp">give up</button>
      </div>
      <div v-else="!show" @click="startGame">
        <button type="button" class="btn btn-primary">start game</button>
      </div>
    </section>
    <section class="wrapper">
      <p>攻击记录</p>
      <div v-for="log in logs" >
          <p v-if = "log.isplayer" class="bg-warning text-primary" > monster hit you {{log.you}}</p>
          <p v-if = "log.ismonster" class="bg-success text-info" >you higt monster {{log.monster}}</p>
      </div>
    </section>
  </div>
</body>
<script> 
  var vm = new Vue({
    el: "#app",
    data: {
      logs: [],
      show: false,
      myLive: 100,
      monsterLive: 100
    },
    methods: {
      attack: function () {
        var monsterdamage = this.damage(15,5)
        this.monsterLive -= monsterdamage
        this.logs.unshift({
          ismonster : true,
          monster : monsterdamage
        })
        // this.monsterLive = this.monsterLive > 100 ? 100 : this.monsterLive
        // this.monsterLive = this.monsterLive < 0 ? 0 : this.monsterLive
        this.checkWin()
      },
      specailAttack: function () {
        var mydamage = this.damage(20,9)
        var monsterdamage = this.damage(20,9)
        this.myLive = this.myLive - mydamage
        this.logs.unshift({
          isplayer : true,
          you : mydamage
        })
        // this.myLive = this.myLive > 100 ? 100 : this.myLive
        // this.myLive = this.myLive < 0 ? 0 : this.myLive
        if (this.checkWin()) {
          return
        }
        this.monsterLive = this.monsterLive - monsterdamage
        this.logs.unshift({
          ismonster : true,
          monster : monsterdamage
        })
        // this.monsterLive = this.monsterLive > 100 ? 100 : this.monsterLive
        // this.monsterLive = this.monsterLive < 0 ? 0 : this.monsterLive
        this.checkWin()
      },
      heal: function () {
        this.myLive += 10
        this.myLive = this.myLive > 100 ? 100 : this.myLive
      },
      startGame: function () {
        this.myLive = 100
        this.monsterLive = 100
        console.log(this.monsterLive)
        this.show = true
      },
      giveUp: function () {
        this.myLive = 100
        this.monsterLive = 100
        this.show = false
      },
      damage : function(max,min){
         return Math.max(Math.floor(Math.random()*max + 1),min)
      },
      checkWin: function () {
        if (this.myLive <= 0) {
          if (confirm("you lost! new game?")) {
            console.log(this.monsterLive)
            this.startGame()
            console.log(this.monsterLive)
          } else {
            this.show = false
          }
        } else if (this.monsterLive <= 0) {
          if (confirm("you win! new game?")) {
            this.startGame()
          } else {
            this.show = false
          }
        }
        return false
      }
    },
    // watch: {
    //   myLive : function(){
    //     myLive = myLive > 100 ? 100 : myLive
    //     myLive = myLive < 0 ? 0 : myLive
    //   },
    //   monsterLive : function(){
    //     monsterLive = monsterLive > 100 ? 100 : myLive
    //     monsterLive = monsterLive < 0 ? 0 : myLive
    //   }
    // }
  })
</script>

</html>