<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>todolist-备忘录</title>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<style>
  .margin-top {
    margin: 50px auto;
  }
</style>

<body>
  <div class="container margin-top" id="app">
    <div class="row">
      <section class="col-md-4 text-center">
        <div class="form-group">
          <label for="events">添加备忘事项</label>
          <input id="events" type="text" placeholder="请输入备忘事项" class="form-control" v-model="inputValue" @keyup.enter="addToDo">
        </div>
      </section>
    </div>
    <div class="row">
      <section class="col-md-4">
        <p class="text-warning" v-if = "toDoEvents[0]">未办事项</p>
        <p class="text-warning" v-else = "!toDoEvents[0]">暂无未办事项</p>
        <div v-for="(toDoEvent,index) in toDoEvents" >{{index + 1}}.{{toDoEvent}}
          <span class="badge" style="display: inline-block;float: right;">
            <i class="glyphicon glyphicon-ok" @click="changeToDealed" :data-id="index"></i>
          </span>
          <span class="badge"  style="display: inline-block;float: right;">
              <i class="glyphicon glyphicon-remove" @click="deleteEvent" :data-id="index"></i>
          </span>
        </div>
      </section>
    </div>
    <br>
    <div class="row">
      <section class="col-md-4">
        <p class="text-primary" v-if = "!dealedEvents[0]">无已办事项</p>
        <p class="text-primary" v-if = "dealedEvents[0]">已办事项</p>
        <div v-for="(dealedEvent,index) in dealedEvents">{{index + 1}}.{{dealedEvent}}
          <span class="badge"  style="display: inline-block;float: right;">
            <i class="glyphicon glyphicon-remove" @click="deleteDealed" :data-id="index"></i>
          </span>
        </div>
      </section>
    </div>

  </div>
</body>
<script>
  let lsC = (function () {
    return {
      add(value) {
        localStorage.setItem("todolist", JSON.stringify(value))
      },
      get : function() {
        return JSON.parse(localStorage.getItem("todolist"))
      },
      remove(a) {
        localStorage.removeItem(a)
      }
    }
  })()
  var vm = new Vue({
    el: "#app",
    data: {
      inputValue: "",
      dealedEvents: lsC.get() ? lsC.get().dealedEvents : [],
      toDoEvents: lsC.get() ? lsC.get().toDoEvents : []
    },
    methods: {
      addToDo: function () {
        this.toDoEvents.push(this.inputValue)
        this.inputValue = ""
        lsC.add(this._data)
        console.log(lsC.get())
      },
      changeToDealed: function (e) {
        var index = e.target.dataset.id;
        this.dealedEvents.push(this.toDoEvents[index])
        this.toDoEvents.splice(index, 1)
        lsC.add(this._data)
      },
      deleteEvent: function (e) {
        var index = e.target.dataset.id;
        this.toDoEvents.splice(index, 1)
        lsC.add(this._data)
      },
      deleteDealed: function (e) {
        var index = e.target.dataset.id;
        console.log(this.dealedEvents)
        this.dealedEvents.splice(index, 1)
        console.log(this.dealedEvents)
        lsC.add(this._data)
      }
    }
  })
</script>

</html>